<main>
    {{#if basicInfo}}
    <section class="basic-info">
        {{!-- <h2>Basic Info</h2> --}}
        {{#each basicInfo }}
        <p>
            <div class="name">{{ this.name }}</div>
            <div class="email">{{ this.email}}</div>
            <div class="phone">{{ this.phone}}</div>
        </p>
        {{/each}}
    </section>
    {{/if}}
    <section class="goals">
        <h2>Goals</h2>
        <p>To solve hard problems. In this case, to make a Google Sheets based resume with structured content. Read more
            about my thought process in the <a>readme</a>.</p>
    </section>
    {{#if workExperience}}
    <section class="work-experience">
        <h2>Work Experience</h2>
        <ul>
            {{#each workExperience }}
            <li>
                <h3>{{ this.businessName }}, {{ this.dateStart }} – {{ this.dateEnd }}</h3>
                <ul>
                    {{#each this.accomplishments }}
                    <li>{{ this }}</li>
                    {{/each }}
                </ul>
            </li>
            {{/each }}
        </ul>
    </section>
    {{/if}}
    {{#if presenting }}
    <section class="presentations">
        <h2>Presentations</h2>
        <ul>
            {{#each presenting}}
            <li>
                <h3>{{ this.talkTitle }}</h3>
                {{ this.conference }}
                {{ this.date }}
            </li>
            {{/each }}
        </ul>
    </section>
    {{/if }}
    {{#if education }}
    <section>
        <h2>Education</h2>
        <ul>
            {{#each education}}
            <li>
                <h3>{{ this.title }}</h3>
                {{ this.areaOfStudy }}
                {{ this.terminalStatus }}
            </li>
            {{/each }}
        </ul>
    </section>
    {{/if }}
</main>
<aside>
    <button id="theme-toggle">Theme Toggle</button>
    <button id="style-toggle">Style Toggle</button>
</aside>